extends ../layout/base

block title
	title="Dashboard"

block content
	div.container(ng-controller="DashboardController")
		h1
			i.fa.fa-newspaper-o.margin-right-12px
			|Announcements

		div.row
			h5
				|{{board.title}}
				|Filter by
			div.col.s2
				input#unread(type="checkbox")
				label(for="unread")
				span="Unread"
			div.col.s2
				input#read(type="checkbox")
				label(for="read")
				span="Read"
			div.col.s2
				input#urgent(type="checkbox")
				label(for="urgent")
				span="Urgent"
			div.col.s2
				input(type="checkbox", id="important").browser-default
				label(for="important")
				span="Important"
			div.col.s3
				input(type="checkbox", id="announcement")
				label(for="announcement")
				span="Announcement"

		div.row
			ul.collapsible(data-collapsible="accordion")
				li(ng-repeat="board in boardMessages")
					div.collapsible-header
							h5
								input(ng-checked="{{board.read}}", ng-click="markRead(board)", type="checkbox", id="{{board._id}}").browser-default
								label(for="{{board._id}}")
								|{{board.title}}

								span.right.font-size-14px.red-text
										|{{board.importance}}
					div.collapsible-body
						p="{{board.description}}"