extends ../layout/base

block content
	div.container(ng-controller="OrderController")
		h2 Order List

		div.row
			div.col.s2.offset-s2
			a.btn.red.waves-effect.waves-dark(ng-click="initModal()", href="#createOrder")
				|Create New Order

		table
			thead
				th="Order Reference"
				th="Total (HK$)"
				th="Order Created"
				th="Order Status"
			tbody
				td="#oajsh"
				td="$215.00"
				td="21/09/2016"
				td
					//- a.btn.red.z-depth-3
					//- 	|not delivered
					a.btn.green.accent-3.z-depth-3.waves-effect.waves-dark
						|devivered

		div#createOrder.modal.modal-fixed-footer
			div.modal-content
				i(ng-click="closeModal()").fa.fa-times.right
				h4 Create New Order

				div.row
					div.input-field.col.s9
						input#order_reference.validate(type='text', ng-model="order.orderRef")
						label(for="order_reference") Order Reference

				div.row(ng-repeat="x in itemsForm")
					div.input-field.col.s3
						input#order_name.validate(type='text', ng-model='order.item[$index].name')
						label(for="order_name") Name
					div.input-field.col.s2
						input#order_price(placeholder="19.99", type='number', ng-model='order.item[$index].price')
					div.input-field.col.s2
						input#order_quantity.validate(placeholder="quantity", type='number', ng-model="order.item[$index].quantity")
					div.input-field.col.s2
						input#order_unit(type='text', ng-model='order.item[$index].unit')
						label(for="order_unit") Unit
					div.input-field.col.s3
						a(ng-show="itemsForm.length == 1").btn-floating.margin-lr-6px.z-depth-3.disabled
							i.fa.fa-minus
						a(ng-show="itemsForm.length != 1").btn-floating.margin-lr-6px.z-depth-3
							i(ng-click="removeInputField($index)").fa.fa-minus
						a.btn-floating.margin-lr-6px.z-depth-3
							i(ng-click="createNewForm()").fa.fa-plus
			div.modal-footer
				a(ng-click="createOrder(order)").btn Submit